.dlc-item {
    text-decoration: none;
    color: white;
    width: 320px;
    height: 250px;
    align-items: center;
    text-align: center;
    background-color: rgb(36, 37, 41);
    border-radius: 15px;
    position: relative;
    border:  1px solid aqua;
    box-shadow: 0px 5px 80px -20px rgb(0, 140, 255);
}

.dlc-item:not(:last-child) {
    margin-bottom: 30px;
    margin-right: 50px;
}

.dlc-item__title {
    font-size: 18px;
    font-weight: bold;
}

.dlc-item__genre {
    margin-top: 10px;
}

.dlc-item__details{
  
    padding: 10px 20px;
}

.dlc-item__description {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
}

.dlc-item__buy {
    position: absolute;
    right: 10px;
    bottom: 12px;
}
